@use "./variables" as v;

.custom-checkbox {
  width: 100%;
  max-width: 340px;
  height: 60px;
  font-size: large;
  font-weight: bold;
  margin: 1rem auto 3rem;
  input#status {
    display: none;

    // Unchecked State
    + label {
      height: 100%;
      width: 100%;
      > .status-switch {
        cursor: pointer;
        height: 100%;
        position: relative;
        background-color: v.$awesome-blue;
        color: v.$awesome-black;
        transition: all 0.5s ease;
        padding: 3px;
        border-radius: 16px;

        &:before,
        &:after {
          border-radius: 16px;
          height: calc(100% - 6px);
          width: calc(50% - 3px);
          display: flex;
          align-items: center;
          position: absolute;
          justify-content: center;
          transition: all 0.3s ease;
        }

        &:before {
          background-color: v.$awesome-black;
          color: v.$awesome-blue;
          box-shadow: 0 0 4px 4px rgba(#000, 0.2);
          left: 3px;
          z-index: 10;
          content: attr(data-unchecked);
        }

        &:after {
          right: 0;
          content: attr(data-checked);
        }
      }
    }

    // Checked stae
    &:checked + label > .status-switch {
      background-color: v.$awesome-purple;

      &:after {
        left: 0;
        content: attr(data-unchecked);
      }

      &:before {
        color: v.$awesome-purple;
        left: 50%;
        content: attr(data-checked);
      }
    }
  }
}
