.movie-card {
  max-width: 250px;
  min-height: 375px;
  aspect-ratio: 2/3;
  margin: 1em;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  z-index: 10;
  background: white;

  .card-img-top,
  .default-card-img-top {
    max-width: 100%;
    transition: 0.5s;
    position: absolute;
    z-index: 100;
  }

  .default-card-img-top {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h5 {
      font-size: 1.5em;
      padding: 0;
      margin: 1em;
    }
  }

  &:hover {
    .card-img-top,
    .default-card-img-top {
      opacity: 0;
      transition: opacity 0.5s 0s, visibility 0s 0.45s;
      visibility: hidden;
    }
  }
}

.card-body {
  padding: 1em;
  overflow: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .card-body-top {
    display: flex;
    flex-direction: column;

    .card-title {
      text-align: center;
      margin-bottom: 0;
      font-size: large;
    }

    .card-rating {
      text-align: center;
    }

    .card-year {
      text-align: center;
      font-size: medium;
    }
  }

  .card-body-bottom {
    margin: auto;
    padding-bottom: 5em;

    div {
      text-align: center;
    }
  }
}
