.movie-card {
  max-width: 250px;
  min-height: 375px;
  aspect-ratio: 2/3;
  margin: 1em;
  box-sizing: border-box;
  //   border: 1px solid black;
  position: relative;
  overflow: hidden;
  z-index: 10;

  .card-img-top {
    max-width: 100%;
    transition: 0.5s;
    position: absolute;
    z-index: 100;
  }

  &:hover {
    .card-img-top {
      // transform: translateY(-100%);
      opacity: 0;
      transition: opacity 0.5s 0s, visibility 0s 0.45s;
      visibility: hidden;
    }
  }
}

.card-body {
  padding: 1em;
  // text-align: justify;
  overflow: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  text-align: center;
}

.card-text {
  .text-muted {
    margin-top: auto;
  }
}
