$cool-gradient: linear-gradient(
  to right,
  #b294ff,
  #57e6e6,
  #feffb8,
  #57e6e6,
  #b294ff,
  #57e6e6
);

$rainbow-gradient: linear-gradient(
  to bottom right,
  #b827fc 0%,
  #2c90fc 25%,
  #b8fd33 50%,
  #fec837 75%,
  #fd1892 100%
);

$faux-black: rgb(70, 80, 90);
$standard-yellow: #feffb8;
$standard-blue: #57e6e6;
$standard-purple: #b294ff;
$gentle-text: #7c89a7;
$input-text-inactive: #b0b8d7;

// Unimplemented
$input-background: rgba(57, 63, 84, 0.8);
