@use "./variables" as v;
@import "https://unpkg.com/open-props";

#watch-list-body {
  max-height: 500px;
  padding: 0.5em 1em;
  background-color: white;
  margin: 0.5em;
  // display: flex;
  // flex-direction: column;

  .watch-list-mini-card {
    display: flex;
    border-bottom: 1px solid gray;
  }
}

#watch-list-modal-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;

  #watch-list-modal-close {
    background-color: v.$standard-purple;

    &:hover {
      background-color: #9c76fc;
    }
  }

  #watch-list-clear {
    background-color: v.$standard-warn;

    &:hover {
      background-color: rgb(252, 32, 32);
    }
  }

  > button {
    color: white;
  }
}

#watch-list-background {
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b294ff,
    #57e6e6,
    #feffb8,
    #57e6e6,
    #b294ff,
    #57e6e6
  );
  border-image-slice: 1;
  overflow: auto;
}

.remove-from-list-button {
  background-color: inherit;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 1em auto 0;
  border: none;

  &:hover,
  &:hover + * {
    transition: 0.5s;
    color: red;
    transform: scale(1.05);
  }

  &:hover + * {
    text-decoration: line-through;
  }

  &:focus,
  &:focus + * {
    transition: 0.5s;
    color: red;
    transform: scale(1.05);
    outline: none;
  }

  &:focus + * {
    text-decoration: line-through;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

dialog {
  display: block;
  inset: 0;
  z-index: var(--layer-important);
  max-inline-size: min(90vw, var(--size-content-3));
  max-block-size: min(80vh, 100%);
  transition: opacity 0.5s;
  animation: var(--animation-scale-down) forwards;
  animation-timing-function: var(--ease-squish-3);
  border-radius: 0.5rem;
  padding: 0;

  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.639);
  }
}

dialog[open] {
  animation: var(--animation-slide-in-up) forwards;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  backdrop-filter: blur(0.25rem);
  height: 2000px;
}
